In [48]:
import pandas as pd
import geopandas as gpd
import os
import datetime

# Read fronts & merge files

In [20]:
fronts_source = "D:/OneDrive/Documents/Cours/4A/SFE/calving_fronts/QGIS_Landsat"
fronts_files = []

for x in os.listdir(fronts_source):
    if x[-3::] == "shp":
        fronts_files.append(x)
   
fronts_files

['fronts_19760505.shp',
 'fronts_19760606.shp',
 'fronts_19760709.shp',
 'fronts_19760710.shp',
 'fronts_19760711.shp',
 'fronts_19760712.shp',
 'fronts_19760716.shp',
 'fronts_19760717.shp',
 'fronts_19760718.shp',
 'fronts_19760718_b.shp',
 'fronts_19760723.shp',
 'fronts_19780723.shp',
 'fronts_19780812.shp',
 'fronts_19780825.shp',
 'fronts_19780904.shp',
 'fronts_19780922.shp']

In [21]:
data_files = [
    'LM02_L1GS_245002_19760505_20200907_02_T2',
    'LM02_L1GS_242002_19760606_20200907_02_T2',
    'LM02_L1GS_239002_19760709_20200907_02_T2',
    'LM02_L1GS_240002_19760710_20200907_02_T2',
    'LM02_L1GS_241002_19760711_20200907_02_T2',
    'LM02_L1GS_224004_19760712_20200907_02_T2',
    'LM02_L1GS_228003_19760716_20200907_02_T2',
    'LM02_L1GS_241001_19760717_20200907_02_T2',
    'LM02_L1GS_230003_19760718_20200907_02_T2',
    'LM02_L1GS_230004_19760718_20200907_02_T2',
    'LM02_L1GS_235002_19760723_20200907_02_T2',
    'LM02_L1GS_227005_19780723_20210610_02_T2',
    'LM03_L1GS_238003_19780812_20210611_02_T2',
    'LM03_L1GS_238002_19780725_20210611_02_T2',
    'LM02_L1GS_234002_19780904_20210610_02_T2',
    'LM02_L1GS_234004_19780922_20210610_02_T2'
]

In [46]:
# load and concat all files

fronts = []
for i_ff, ff in enumerate(fronts_files):
    fronts_i = gpd.read_file(os.path.join(fronts_source, ff)).to_crs(epsg=4326)
    fronts_i["image"] = [data_files[i_ff] for _ in range(len(fronts_i))]
    fronts.append(fronts_i)
fronts = pd.concat(fronts, ignore_index=True).drop(columns=["id", "year", "mission"])
print(len(fronts))
fronts.head()

434

,date,geometry,image
0,19760505,"LINESTRING (12.38191 79.53251, 12.38144 79.531...",LM02_L1GS_245002_19760505_20200907_02_T2
1,19760505,"LINESTRING (12.38935 79.54895, 12.38853 79.549...",LM02_L1GS_245002_19760505_20200907_02_T2
2,19760505,"LINESTRING (12.32881 79.58411, 12.32937 79.585...",LM02_L1GS_245002_19760505_20200907_02_T2
3,19760505,"LINESTRING (12.29071 79.65163, 12.28778 79.651...",LM02_L1GS_245002_19760505_20200907_02_T2
4,19760505,"LINESTRING (12.1169 79.65285, 12.11207 79.6529...",LM02_L1GS_245002_19760505_20200907_02_T2

In [47]:
# update mission name
mission = []
for i in range(len(fronts)):
    mission.append("Landsat " + fronts.iloc[i].image[3:4] + " MSS")
fronts["mission"] = mission
fronts.head()

,date,geometry,image,mission
0,19760505,"LINESTRING (12.38191 79.53251, 12.38144 79.531...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS
1,19760505,"LINESTRING (12.38935 79.54895, 12.38853 79.549...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS
2,19760505,"LINESTRING (12.32881 79.58411, 12.32937 79.585...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS
3,19760505,"LINESTRING (12.29071 79.65163, 12.28778 79.651...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS
4,19760505,"LINESTRING (12.1169 79.65285, 12.11207 79.6529...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS

In [55]:
# add timestamp
timestamp = []
for i in range(len(fronts)):
    date = fronts.date.iloc[i]
    timestamp_i = datetime.datetime(int(date[0:4]), int(date[4:6]), int(date[6:8]))
    timestamp.append(timestamp_i)
fronts["timestamp"] = timestamp
fronts.head()

,date,geometry,image,mission,timestamp
0,19760505,"LINESTRING (12.38191 79.53251, 12.38144 79.531...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS,1976-05-05
1,19760505,"LINESTRING (12.38935 79.54895, 12.38853 79.549...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS,1976-05-05
2,19760505,"LINESTRING (12.32881 79.58411, 12.32937 79.585...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS,1976-05-05
3,19760505,"LINESTRING (12.29071 79.65163, 12.28778 79.651...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS,1976-05-05
4,19760505,"LINESTRING (12.1169 79.65285, 12.11207 79.6529...",LM02_L1GS_245002_19760505_20200907_02_T2,Landsat 2 MSS,1976-05-05

In [ ]:
# export to shp
# fronts.to_file("D:/OneDrive/Documents/Cours/4A/SFE/calving_fronts/Landsat_MSS_fronts.shp", driver="ESRI Shapefile")

C:\Users\loris\AppData\Roaming\Python\Python312\site-packages\pyogrio\raw.py:723: RuntimeWarning: Field timestamp create as date field, though DateTime requested.
  ogr_write(